<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"><img src="{{ /images/footer-logo.jpg | prepend: site.baseurl }}" alt="kmit logo" />&nbsp;&nbsp;{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="{{ /privacypolicy.html | prepend: site.baseurl }}">&copy; 2007-2016 KMIT (Privacy Policy)</a></li>
          <li><a href="{{ /contact-us.html | prepend: site.baseurl }}">Contact Us</a></li>
          <li><a href="https://www.google.co.in/maps?f=q&source=embed&hl=en&geocode=&q=Keshav+Memorial+Institute+of+Technology,+Bhawani+Nagar,+Narayanguda,+Hyderabad,+Andhra+Pradesh&aq=0&oq=kes&sll=17.408909,78.465759&sspn=0.403598,0.441513&ie=UTF8&hq=Keshav+Memorial+Institute+of+Technology,&hnear=Bhawani+Nagar,+Narayanguda,+Hyderabad,+Ranga+Reddy,+Andhra+Pradesh&t=m&ll=17.397119,78.490289&spn=0.006295,0.006295">Location Map</a></li>
        </ul>

      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <!-- <p>{{ site.description }}</p> -->
      </div>
    </div>

  </div>

</footer>
